.App {
  position: relative;
  height: 600px;
  width: 800px;
  border: 2px solid gray;
  box-shadow: 0 0 25px 10px black;
  background-color: darkgrey;
  margin: 100px auto;
  background-image: url("img/chuck-norris.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -80px 50px;
}

.Title{
  display: inline-block;

  font-size: 40px;
  font-weight: bold;
  margin: 20px 20px 20px 250px;
}
